.hidden{
  display: none;
  width: 0px;
}

body{
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #d5dde7;
  width: 100%;
}

h1 {
  margin: 10px auto 0 auto;
  font-family: 'Rokkitt', serif;
  font-size: 3rem;
  color: black;
  font-style:normal;
}

.button{
  border-style: none;
  background-color: #203864;
  color: white;
  font-family: 'Merriweather', serif;
  padding: 4px;
  width: 9%;
  font-size: 1.3rem;
  outline: none;
}

.button:hover{
  border-style: none;
  Box-shadow:0 0px 0px rgba(0,0,0,0.19), 5px 5px 12px rgba(0,0,0,0.23);
}

.button:active{
  Box-shadow:0 0px 0px rgba(0,0,0,0.19), 6px 6px 12px rgba(0,0,0,0.23);
  background-color: #00003f;
}



.top-container {
  display: inline-block;
  padding-top: 8%;
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 100%;
}

.top_cloud{
  position: absolute;
  width: 7%;
  top: 6%;
  right: 15%;
}

.bottom_cloud{
  position: absolute;
  width: 6%;
  top: 33%;
  left: 14%;
}

.sea{
  width: 75%;
  margin: 50px auto 0 auto;
  position: relative;
}

.footer{
  font-size: 0.8rem;
  text-align: center;
  margin-top: -3rem;
}


@media (min-width: 1400px){
  .wrapper{
    width: 100%;
    z-index: 1;
    text-align: center;
    position: relative;
    bottom: 21rem;
  }

  p{
    line-height: 2;
  }

  .button{
    position: absolute;
    top: 20rem;
    left: 45.5%;
    z-index: 2;
  }

  .card{
    background-color: rgba(255,255,255,0.5);
    width: 40%;
    margin: 0 auto 0 auto;
    padding: 4%;
  }

  .dice1{
    display: inline-block;
    padding: 2rem;
  }

  .dice2{
    display: inline-block;
    padding: 2rem;
  }


  .img1, .img2 {
    width: 6rem;
  }
}




@media(max-width: 1400px) and (min-width: 800px) {
  .wrapper{
    width: 100%;
    z-index: 1;
    text-align: center;
    position: relative;
    bottom: 10rem;
  }

  p{
    line-height: 2;
    font-size: 1.1rem;
  }

  .button{
    position: absolute;
    top: 27%;
    left: 44%;
    z-index: 2;
    width: 12%;
    font-size: 1.5rem;
  }


  .card{
    background-color: rgba(255,255,255,0.5);
    width: 50%;
    margin: 0 auto 0 auto;
    padding: 3%;
  }

  .dice1{
    display: inline-block;
    padding: 2rem;
  }

  .dice2{
    display: inline-block;
    padding: 1.5rem;
  }


  .img1, .img2 {
    width: 5.5rem;
  }
}

@media (max-width: 800px) and (min-width: 600px){
  .wrapper{
    width: 100%;
    z-index: 1;
    text-align: center;
    position: relative;
    bottom: 15rem;
  }

  p{
    line-height: 2;
    font-size: 1.2rem;
  }

  .button{
    position: absolute;
    top: 25%;
    left: 42.5%;
    z-index: 2;
    width: 15%;
    font-size: 1.5rem;
  }

  .card{
    background-color: rgba(255,255,255,0.5);
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 4%;
  }

  .dice1{
    display: inline-block;
    padding: 2rem;
  }

  .dice2{
    display: inline-block;
    padding: 1rem;
  }


  .img1, .img2 {
    width: 6rem;
  }

  .sea{
    width: 70rem;
    position: relative;
    right: 25rem;
  }
}

@media (max-width: 600px){
  .wrapper{
    width: 100%;
    z-index: 1;
    text-align: center;
    position: relative;
    bottom: 15rem;
  }

  p{
    line-height: 2;
    font-size: 1.2rem;
  }

  .button{
    position: absolute;
    top: 12rem;
    left: 40%;
    z-index: 2;
    width: 25%;
    font-size: 1.8rem;
  }

  .card{
    background-color: rgba(255,255,255,0.5);
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 2%;
  }

  .dice1{
    display: inline-block;
    padding: 1.5rem;
  }

  .dice2{
    display: inline-block;
    padding: 1.5rem;
  }


  .img1, .img2 {
    width: 7rem;
  }

  .sea{
    width: 60rem;
    position: relative;
    right: 30rem;
  }

  .top_cloud{
    position: absolute;
    width: 13%;
    top: 18%;
    right: 10%;
    z-index: -1;
  }

  .bottom_cloud{
    position: absolute;
    width: 13%;
    top: 23%;
    left: 3%;
  }
}
